* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 5rem 10rem;
    background: linear-gradient(to bottom, #d8d8d8, rgb(255, 255, 255));
}

select {
    padding: .5rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: .3rem;
}

@media(max-width: 950px) {
    .main-container {
        padding: 5rem 2rem;
    }
}